<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/stylesheets/logueo.css">
</head>

<body class="body">
    <%- include('./partials/header') %>
    <% if(typeof errors != 'undefined'){ %>
    <p style="color:red">ERROR</p>
    <ul>
        <% for(let i=0; i < errors.lenght; i++){ %>
        <li>
            <%= errors[i].msg %>
        </li>
        <%}%>
        </ul>
        <%}%>
        <div class="container-fluid">
            <div class="banner-logueo">

                <img src="/images/Visuales/9.png" width="100%">
            </div>

            <div class="container main">
                <div class="row justify-content-center">

                    <div class="iniciar-sesion">
                        <h2 class="titulo col-12">Inciar Sesión</h2>
                        <form>

                            <div class="form-row">
                                <div class="form-group col-12 col-md-12">
                                    <label for="inputEmail4">Email</label>
                                    <input type="email" class="form-control" id="inputEmail4" name="email" required>
                                    <small>Nadie sabrá tu dirección de email.
                                    </small>
                                </div>
                                <div class="form-group col-12 col-md-12">
                                    <label for="inputPassword4">Contraseña</label>
                                    <input type="password" class="form-control" id="inputPassword4" name="contrasena"
                                        required>
                                </div>
                                <a href="#">
                                    <h4 class="col-12">Olvidé mi contraseña</h4>
                                </a>
                            </div>

                            <div class="form-group form-check col-12">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">Recordarme</label>
                            </div>

                            <button type="submit" class="btn btn-danger col-6">Ingresar</button>
                            <p></p>
                            <a href="/registro">
                                <h4 class="col-12">¿No estás registrado? Regístrate</h4>
                            </a>
                        </form>

                    </div>
                </div>
            </div>

        </div>
        <%- include('./partials/footer') %>
</body>

</html>